.bouton-admin{
  background-color: #DCDCDC;
  margin-left: 1%;
  margin-right: 93%;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #808080;
  border-radius: 8px;
  color: white;
  margin-bottom: 25px;
  margin-top: 25px;
}

.bouton-admin a {
  text-decoration: none !important;
  color:black
}

.bouton-admin:hover{
  background-color: #C0C0C0;
  color: white;
}

.bouton-user-famille {
  background-color: #DCDCDC;
  margin-left: 45%;
  margin-right: 45%;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #808080;
  border-radius: 8px;
  color: white;
  margin-bottom: 5px;
}

.bouton-user-famille a {
  text-decoration: none !important;
  color:black
}

.bouton-user-famille:hover{
  background-color: #C0C0C0;
  color: white;
}

.bouton-user-item {
  background-color: #DCDCDC;
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #808080;
  border-radius: 8px;
  color: white;
  margin: 5%;
  margin-bottom: 1%;
  margin-top: 3%;
}

.bouton-user-item a {
  text-decoration: none !important;
  color:black
}

.bouton-user-item:hover{
  background-color: #C0C0C0;
  color: white;
}
