// .container-test {
//   // border: 4px solid pink;
// }

.container-card-famille {
  display: flex;
  align-items: center;
  // border: 3px solid green;

  // column-gap: 1ch; /* espace entre les colonnes */
  // margin-bottom: 20px;
  // margin-left: 10px;
  // margin-right: 10px;
}

.card-famille-index {
  display: flex;
  flex-direction: column;
  // border: 2px solid blue;

  // border: 1px solid black;
  // border-radius: 5px;
  // background: white;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 100%;
  padding: 10px;
}

.img-index-famille{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.titre-index-famille {
  display: flex;
  align-items: center;
  flex-direction: column;
}
