



.grid-famille-index {
  display: grid; /* creéation de la grille  */
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; /* nombre de colonne */
  row-gap: 1ch; /* espace en les lignes */
  column-gap: 1ch; /* espace entre les colonnes */
  margin-bottom: 20px;
}

.card_category {
  border: 1px solid black;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 100%;
  padding: 10px;
}
