
.titre_new_item{
  padding-top: 30px;
}

.titre_secondaire_new_item{
  padding-top: 30px;
}

.container_new_item{
  // border: solid black;
  border-top: solid 1px black;
  margin-top: 30px;
}

.container_ligne_paragraphe{
  display: flex;
  justify-content: center;
}

.ligne_paragraphe{
  border-top: solid 1px black;
  margin-top: 50px;
  width: 50%;
}

.container_img_new_item{
  // border: solid green;
  display: flex;
  justify-content: space-around;
}

.input_img_new_item{
  // border: solid pink;
  display:flex;
  flex-direction: column;
  object-fit: cover;
  margin-top: 35px;
}

.preview_img_new_item{
  // border: solid yellowgreen;
  display: flex;
  justify-content: center;
}

// .container_info_new_item{
//   // border: solid red;
//   // display: flex;
// }

.info_new_item{
  // border: solid blueviolet;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
}

.info2_new_item{
  // border: solid blueviolet;
  display: flex;
  justify-content: space-between;
}

.input_info_new_item{
  // border: solid pink;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input2_info_new_item{
  // border: solid yellowgreen;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.description_new_item{
  // border: solid blue;
  display: flex;
  justify-content: center;
  height: 250px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.input_description_new_item{
  // border: solid pink;
  display: flex; /* Utilisation de flexbox pour gérer la hauteur */
  width: 55%;
}

.description_new_item .input_description_new_item textarea {
  width: 100%;
  height: 100%;
  box-sizing: border-box; /* Inclure le padding et la bordure dans la taille */
}
