
.card_profil_items {
  border: solid 1px black;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 15px;
  // width: 30%;
  width: 350px;
  height: 150px;
  padding-left: 0px;
  padding-bottom: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px;
}

.card_profil_items:hover {
  border: solid 1px grey;
}

.img_profil_item {
  width: 200px; /* définir la largeur de l'image */
  height: 200px; /* définir la hauteur de l'image */
  border-radius: 15px;
  object-fit: cover; /* empêcher la déformation de l'image en couvrant le conteneur */
  object-position: center; /* centrer l'image dans le conteneur */
}

.container_img_info_card_show_profil{
  // border: solid 1px red;
  display: flex;
  height: 100%;
}

.img_card_show_profil{
  // border: solid blueviolet;
  border-radius: 10px;
  width: 70%;
  height: 100%;
  object-fit: contain;
}

.info_card_show_profil{
  // border: solid green;
  width: 30%; /* définir la largeur de l'image */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

p{
  margin-bottom: 5px;
}

.btn_card_profil_items{
  display: flex;
  flex-direction: column;
  padding-bottom: 5px;
}
