
<h1>Les 10 règles d’or d’une pratique sereine du Surf</h1>

<h3>1 - Savoir nager</h3>

<h3>2 - Ne jamais surfer seul. Respecter les autres pratiquants, rester courtois et attentifs aux autres en toutes circonstances.</h3>

<h3>3 - Observer l’océan et les conditions de surf et vérifier qu'elles soient adaptées à son niveau de pratique et au matériel utilisé. Si je débute, je privilégie une planche en mousse avec des dérives souples.</h3>

<h3>4 - Respecter les zones de surf (drapeaux à damier noir et blanc) et identifier les dangers potentiels (enrochement, baïnes, shorebreak (vague de bord). Surveiller la météo (pas de surf par temps d’orage). Identifier les zones de baignades (drapeaux rayés jaune et rouge) afin de ne pas y pénétrer en surfant.</h3>

<h3>5 - Surfer avec un leash en bon état doit être systématique et le port du casque est conseillé, notamment pour les enfants et les zones de fréquentation dense.
Se protéger la tête et le visage en cas de chute ou de collision avec un autre surfeur. La combinaison néoprène permet de limiter l’impact du froid et des collisions possibles.</h3>

<h3>6 - Ne jamais retenir sa planche par le leash. Toujours bien tenir sa planche.</h3>

<h3>7 - Ne jamais plonger la tête la première, ni sauter les jambes tendues, depuis la planche et plus particulièrement en Stand Up Paddle. Se protéger le visage et la tête avec les bras en remontant à la surface.</h3>

<h3>8 - Respecter les règles de priorité, pour éviter les collisions, contourner la zone de déferlement pour se rendre au large.
- 1 vague = 1 surfeur
- le surfeur le plus à l’intérieur du déferlement est prioritaire,
- ne pas démarrer sur une vague s’il y a quelqu’un devant</h3>

<h3>9 - Rester calme lorsque l’on est pris par un courant sur sa planche, faire des signes aux secours en agitant les bras. Ne pas tenter de regagner la plage à la nage sans sa planche. Toujours prendre des repères (cabane MNS, poteau sur la dune, panneaux, arbres...) sur la plage pour savoir si je dérive.

<h3>10 - Protéger sa peau avec une protection solaire UV50+ (chapeau et lunettes) y compris lors de la pratique d’un sport de glisse.</h3>


<h2>EN CAS DE PROBLÈME, TOUJOURS ALERTER LE 15 (en Europe le 112) OU LE 196 ET INFORMER LES MNS</h2>
