<!DOCTYPE html>


<html>
<head>
  <title>Calendrier</title>
</head>

<body>
  <div class="container">
    <h1>Liste des Programmations</h1>
    <table border="0">
      <tr>
        <th>Début</th>
        <th>Fin</th>
        <th>Competition</th>
      </tr>
      <% @calendriers.each do |calendrier| %>
        <tr>
          <td><%= calendrier[:fin] %></td>
          <td><%= calendrier[:debut] %></td>
          <td><%= calendrier[:competition] %></td>
        </tr>
      <% end %>
    </table>
  </div>
</body>
</html>
